body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: rgb(13,110,253);
  background: linear-gradient(128deg, #0d6efd 0%, #428bf6 42%, #a2e3f0 100%);
}

.inner-container {
  margin-top: 10%;
}

.tab-content{
  height: 500px;
}

.content-title {
  margin-bottom: 50px;
  color: #0d6efd;
}

.f-title {
  color: #428bf6;
}

.img-style {
  margin-left: 20%;
  margin-top: 10%;
  width: 80%;
}

a {
  text-decoration: none;
}


.work-title {
  color: black;
}

button>.btn-mystyle {
  background-color: white;
}

.modal {
  --bs-modal-width: 800px;
}

.mini-logo {
  width: 250px;
}
