body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: rgb(13,110,253);
  background: linear-gradient(128deg, #0d6efd 0%, #428bf6 42%, #a2e3f0 100%);
}

.border-style {
  border-radius: 10px;
}

.inner-container {
  margin-top: 10%;
}

.tab-content{
  min-height: 500px;
}

.content-title {
  margin-bottom: 50px;
  color: #0d6efd;
}

.f-title {
  color: #428bf6;
}

.pd-bt {
  margin-bottom: 50px;
}

.home-icon {
  font-size: 1.5rem;
  padding-right: 10px;
}

/* Image RHS */
.img-style1 {
  margin-top: 10%;
  width: 300px;
  border-radius: 42% 58% 19% 81% / 37% 51% 49% 63%  ;
  transition: border-radius 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
  position: absolute;
  margin: auto;
}

.img-style1:hover {
  border-radius: 61% 39% 71% 29% / 45% 51% 49% 55%  ;
}

.img-style2 {
  margin-top: 10%;
  width: 300px;
  border-radius: 42% 58% 19% 81% / 37% 51% 49% 63%  ;
  transition: border-radius 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 3;
  position: absolute;
  margin: auto;
}

.img-style2:hover {
  border-radius: 19% 81% 56% 44% / 74% 14% 86% 26%;
}

.img-style2:hover {
  border-radius: 62% 38% 56% 44% / 74% 57% 43% 26%;
}

.img-style3 {
  margin-top: 10%;
  width: 300px;
  border-radius: 49% 51% 44% 56% / 44% 30% 70% 56%;
  transition: border-radius 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.img-style3:hover {
  border-radius: 73% 27% 44% 56% / 77% 62% 38% 23%;
}

.img-style4 {
  margin-top: 10%;
  width: 300px;
  border-radius: 73% 27% 44% 56% / 77% 62% 38% 23%;
  transition: border-radius 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.img-style4:hover {
  border-radius: 19% 81% 56% 44% / 74% 14% 86% 26%;
}

.img-style5 {
  margin-top: 10%;
  width: 300px;
  border-radius: 19% 81% 56% 44% / 74% 14% 86% 26%;
  transition: border-radius 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.img-style5:hover {
  border-radius: 62% 38% 56% 44% / 74% 57% 43% 26%;
}
/*End of Image RHS */

.right-image {
  padding: 10%;
}

/* Image shape background */

.bg-shape {
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgb(13,110,253);
  background: linear-gradient(128deg, #0d6efd 0%, #428bf6 42%, #a2e3f0 100%);
  border-radius: 73% 27% 44% 56% / 77% 62% 38% 23%;
  z-index: 2;
  margin: auto;
}

a {
  text-decoration: none;
}


.work-title {
  color: black;
}

button>.btn-mystyle {
  background-color: white;
}

.modal {
  --bs-modal-width: 800px;
}

.mini-logo {
  width: 250px;
}
